# Healthcare – Persistency of a Drug

Import libraries

In [1]:
import pandas as pd
import numpy as np

Read Data

In [2]:
file = pd.ExcelFile('Healthcare_dataset.xlsx')
#'Healthcare_dataset.xlsx' file has two sheets: first with feature description and second with dataset
# reading those separately to two dataframes df1 and df2
df1 = pd.read_excel(file, 'Feature Description')
df2 = pd.read_excel(file, 'Dataset')

Data Understanding

In [3]:
df1.head()

,Bucket,Variable,Variable Description
0,Unique Row Id,Patient ID,Unique ID of each patient
1,Target Variable,Persistency_Flag,Flag indicating if a patient was persistent or...
2,Demographics,Age,Age of the patient during their therapy
3,NaN,Race,Race of the patient from the patient table
4,NaN,Region,Region of the patient from the patient table

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Bucket                6 non-null      object
 1   Variable              26 non-null     object
 2   Variable Description  26 non-null     object
dtypes: object(3)
memory usage: 752.0+ bytes

In [5]:
df2.head()

,Ptid,Persistency_Flag,Gender,Race,Ethnicity,Region,Age_Bucket,Ntm_Speciality,Ntm_Specialist_Flag,Ntm_Speciality_Bucket,...,Risk_Family_History_Of_Osteoporosis,Risk_Low_Calcium_Intake,Risk_Vitamin_D_Insufficiency,Risk_Poor_Health_Frailty,Risk_Excessive_Thinness,Risk_Hysterectomy_Oophorectomy,Risk_Estrogen_Deficiency,Risk_Immobilization,Risk_Recurring_Falls,Count_Of_Risks
0,P1,Persistent,Male,Caucasian,Not Hispanic,West,>75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,N,N,N,N,N,N,N,0
1,P2,Non-Persistent,Male,Asian,Not Hispanic,West,55-65,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,N,N,N,N,N,N,N,0
2,P3,Non-Persistent,Female,Other/Unknown,Hispanic,Midwest,65-75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,Y,N,N,N,N,N,N,N,2
3,P4,Non-Persistent,Female,Caucasian,Not Hispanic,Midwest,>75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,N,N,N,N,N,N,N,1
4,P5,Non-Persistent,Female,Caucasian,Not Hispanic,Midwest,>75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,N,N,N,N,N,N,N,1

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424 entries, 0 to 3423
Data columns (total 69 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Ptid                                                                3424 non-null   object
 1   Persistency_Flag                                                    3424 non-null   object
 2   Gender                                                              3424 non-null   object
 3   Race                                                                3424 non-null   object
 4   Ethnicity                                                           3424 non-null   object
 5   Region                                                              3424 non-null   object
 6   Age_Bucket                                                          3424 non-null   object
 7   Ntm_Speciality                                                      3424 non-null   object
 8   Ntm_Specialist_Flag                                                 3424 non-null   object
 9   Ntm_Speciality_Bucket                                               3424 non-null   object
 10  Gluco_Record_Prior_Ntm                                              3424 non-null   object
 11  Gluco_Record_During_Rx                                              3424 non-null   object
 12  Dexa_Freq_During_Rx                                                 3424 non-null   int64
 13  Dexa_During_Rx                                                      3424 non-null   object
 14  Frag_Frac_Prior_Ntm                                                 3424 non-null   object
 15  Frag_Frac_During_Rx                                                 3424 non-null   object
 16  Risk_Segment_Prior_Ntm                                              3424 non-null   object
 17  Tscore_Bucket_Prior_Ntm                                             3424 non-null   object
 18  Risk_Segment_During_Rx                                              3424 non-null   object
 19  Tscore_Bucket_During_Rx                                             3424 non-null   object
 20  Change_T_Score                                                      3424 non-null   object
 21  Change_Risk_Segment                                                 3424 non-null   object
 22  Adherent_Flag                                                       3424 non-null   object
 23  Idn_Indicator                                                       3424 non-null   object
 24  Injectable_Experience_During_Rx                                     3424 non-null   object
 25  Comorb_Encounter_For_Screening_For_Malignant_Neoplasms              3424 non-null   object
 26  Comorb_Encounter_For_Immunization                                   3424 non-null   object
 27  Comorb_Encntr_For_General_Exam_W_O_Complaint,_Susp_Or_Reprtd_Dx     3424 non-null   object
 28  Comorb_Vitamin_D_Deficiency                                         3424 non-null   object
 29  Comorb_Other_Joint_Disorder_Not_Elsewhere_Classified                3424 non-null   object
 30  Comorb_Encntr_For_Oth_Sp_Exam_W_O_Complaint_Suspected_Or_Reprtd_Dx  3424 non-null   object
 31  Comorb_Long_Term_Current_Drug_Therapy                               3424 non-null   object
 32  Comorb_Dorsalgia                                                    3424 non-null   object
 33  Comorb_Personal_History_Of_Other_Diseases_And_Conditions            3424 non-null   object
 34  Comorb_Other_Disorders_Of_Bone_Density_And_Structure                3424 non-null   object
 35  Comorb_Disorders_of_lipoprotein_metabolism_and_other_lipidemias     3424 non-null   object
 36  Comorb_Osteoporosis_without_current_pathological_fracture           3424 non-null   object
 37  Comorb_Personal_history_of_malignant_neoplasm                       3424 non-null   object
 38  Comorb_Gastro_esophageal_reflux_disease                             3424 non-null   object
 39  Concom_Cholesterol_And_Triglyceride_Regulating_Preparations         3424 non-null   object
 40  Concom_Narcotics                                                    3424 non-null   object
 41  Concom_Systemic_Corticosteroids_Plain                               3424 non-null   object
 42  Concom_Anti_Depressants_And_Mood_Stabilisers                        3424 non-null   object
 43  Concom_Fluoroquinolones                                             3424 non-null   object
 44  Concom_Cephalosporins                                               3424 non-null   object
 45  Concom_Macrolides_And_Similar_Types                                 3424 non-null   object
 46  Concom_Broad_Spectrum_Penicillins                                   3424 non-null   object
 47  Concom_Anaesthetics_General                                         3424 non-null   object
 48  Concom_Viral_Vaccines                                               3424 non-null   object
 49  Risk_Type_1_Insulin_Dependent_Diabetes                              3424 non-null   object
 50  Risk_Osteogenesis_Imperfecta                                        3424 non-null   object
 51  Risk_Rheumatoid_Arthritis                                           3424 non-null   object
 52  Risk_Untreated_Chronic_Hyperthyroidism                              3424 non-null   object
 53  Risk_Untreated_Chronic_Hypogonadism                                 3424 non-null   object
 54  Risk_Untreated_Early_Menopause                                      3424 non-null   object
 55  Risk_Patient_Parent_Fractured_Their_Hip                             3424 non-null   object
 56  Risk_Smoking_Tobacco                                                3424 non-null   object
 57  Risk_Chronic_Malnutrition_Or_Malabsorption                          3424 non-null   object
 58  Risk_Chronic_Liver_Disease                                          3424 non-null   object
 59  Risk_Family_History_Of_Osteoporosis                                 3424 non-null   object
 60  Risk_Low_Calcium_Intake                                             3424 non-null   object
 61  Risk_Vitamin_D_Insufficiency                                        3424 non-null   object
 62  Risk_Poor_Health_Frailty                                            3424 non-null   object
 63  Risk_Excessive_Thinness                                             3424 non-null   object
 64  Risk_Hysterectomy_Oophorectomy                                      3424 non-null   object
 65  Risk_Estrogen_Deficiency                                            3424 non-null   object
 66  Risk_Immobilization                                                 3424 non-null   object
 67  Risk_Recurring_Falls                                                3424 non-null   object
 68  Count_Of_Risks                                                      3424 non-null   int64
dtypes: int64(2), object(67)
memory usage: 1.8+ MB

What type of data you have got for analysis?

In [16]:
df1.describe(include="all").T

,count,unique,top,freq
Bucket,6,6,Demographics,1
Variable,26,26,Change in T Score,1
Variable Description,26,26,Region of the patient from the patient table,1

In [17]:
df2.describe().T

                      count      mean       std  min  25%  50%  75%    max
Dexa_Freq_During_Rx  3424.0  3.016063  8.136545  0.0  0.0  0.0  3.0  146.0
Count_Of_Risks       3424.0  1.239486  1.094914  0.0  0.0  1.0  2.0    7.0

In [12]:
df2.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Ptid,3424,3424,P2006,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Persistency_Flag,3424,2,Non-Persistent,2135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,3424,2,Female,3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Race,3424,4,Caucasian,3148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethnicity,3424,3,Not Hispanic,3235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Risk_Hysterectomy_Oophorectomy,3424,2,N,3370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Estrogen_Deficiency,3424,2,N,3413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Immobilization,3424,2,N,3410,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Recurring_Falls,3424,2,N,3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Count_Of_Risks,3424.0,NaN,NaN,NaN,1.239486,1.094914,0.0,0.0,1.0,2.0,7.0

What are the problems in the data (number of NA values, outliers, skewed etc)?

In [19]:
df1.isna().sum()

Bucket                  20
Variable                 0
Variable Description     0
dtype: int64

In [20]:
df2.isna().sum()

Ptid                              0
Persistency_Flag                  0
Gender                            0
Race                              0
Ethnicity                         0
                                 ..
Risk_Hysterectomy_Oophorectomy    0
Risk_Estrogen_Deficiency          0
Risk_Immobilization               0
Risk_Recurring_Falls              0
Count_Of_Risks                    0
Length: 69, dtype: int64